alias lwc="ls | wc -l"
alias wdb='WDB_NO_BROWSER_AUTO_OPEN=True python -m wdb'
alias wdb='WDB_NO_BROWSER_AUTO_OPEN=True python3 -m wdb'
alias ca='conda activate'
alias ga='git add'
alias gci='git commit -m'
alias gcia='git commit -am'
alias gp='git push origin'
alias pipg='pip list | grep'
alias gst='git status'
alias nvcc='/usr/local/cuda/bin/nvcc'
alias ci='git commit'
alias co='git checkout'
alias p='git push'
alias st='status'
